.loader {
	display: flex;
	justify-content: center;
	height: 100vh;
	max-width: 100%;
	overflow: hidden;
	align-items: center;
	img {
		width: 100%;
		height: auto;
		animation-name: rotate;
		animation-duration: 6s;
		animation-iteration-count: 1;
		position: relative;
	}
	@keyframes rotate {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(359deg);
			opacity: 0;
		}
	}
}
