@import '//fonts.fontstorage.com/import/ustroke.css';
.menuWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	color: red;
	font-family: 'Ustroke';
	font-size: 20px;
	font-weight: 400;
}
