* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  width: 100%;
  max-width: 100%;
  background: #000;
  font-family: 'Ustroke';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
